<div class="navbar">
  <div class="navbar-container">
    <div class="nav-name">
      <H2 routerLink="/recipes" style="cursor: pointer">PrzepisyMariusza.pl</H2>
    </div>
    <div class="nav-items">
      <ul class="nav-ul">
        <li class="nav-li">
          <a routerLink="/recipes">Przepisy</a>
        </li>
        <li class="nav-li">
          <a routerLink="/shopping-list">Lista zakupów</a>
        </li>
        <li class="nav-li">
          <a routerLink="/contact">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</div>
